$form-label-color: #415867;

.disabled-form-el {
    background: #e2e2e2;
    border-color: #e2e2e2;
    color: #394852;
    cursor: not-allowed;
    pointer-events: none;
}

.down-arrow-dark {
    height: 10px;
    margin-left: 10px;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: system-ui,
        -apple-system,
        blinkmacsystemfont,
        "Segoe UI",
        roboto,
        "Helvetica Neue",
        arial,
        sans-serif;
}

.formbuilder {
    display: inline-flex;
    width: 45%;

    .components {
        display: block;
    }
}

.formjson {
    display: inline-flex;
    justify-content: center;
    position: fixed;
    // align-items: center;
    margin-left: 100px;
    width: 40%;
}

form {
    border-bottom: 5px solid black;
    &-form-el-cont {
        margin-bottom: 30px;
    }
}

.moduleName {
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;
}

.moduleDesc {
    font-size: 16px;
}

.moduleLink {
    display: block;
    text-decoration: none;
    font-weight: 1000;
    color: cornflowerblue;
    width: fit-content;
    margin-bottom: 20px;

    &:hover {
        color: rgb(157, 86, 224);
    }
}

.wrapper {
    display: block;
    margin-bottom: 20px;
}

.preloader {
    width: fit-content;

    .title {
        font-weight: 500;
        display: inline-flex;
        margin-top: 10px;
        font-size: 24px;
        align-items: center;
    }

    .datatype {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 70px;
        height: 30px;
        background-color: rgb(40, 105, 230);
        border-radius: 10px;
        color: #FFF;
    }

    .required {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        width: 80px;
        height: 30px;
        background-color: #e94c4c;
        border-radius: 10px;
        color: #FFF;
    }

    .doclink {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 20px;
        height: 20px;
        text-decoration: none;
        border: 2px solid #eec37a;
        color: cornflowerblue;
        border-radius: 100%;
    }
    
    .doclink:hover {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 20px;
        height: 20px;
        text-decoration: none;
        font-weight: bold;
        color: #FFF;
        background-color: #eec37a;
        border-radius: 100%;
    }
}

.RCB {
    &-list-item {
        color: #4b5975;
        font-size: 12px;
        background-color: #F8F9FB;
        display: flex;
        align-items: center;
        padding: 8px 8px 8px 19px;
        text-decoration: none;
        border-bottom: 1px solid #E7EBF0;

        &.selected {
            background-color: #F5F5F5;
        }
    }

    &-align-left {
        text-align: left;
    }

    &-form-el-inline {
        margin: unset;
        margin-right: 20px;
    }

    &-form-el-block {
        margin: 10px 0;
    }

    &-form-el-label {
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 8px;
        color: $form-label-color;
        font-size: 14px;
        font-weight: 500;
    }

    &-dropdown {
        .RCB-selection-wrapper {
            float: right;
        }

        .RCB-dd-label {
            color: #4B5975;
            font-size: 14px;
        }

        .RCB-form-el {
            padding: 0;
        }

        .RCB-inline-modal-btn {
            border: 1px solid #4B5975;
            padding: 9px 10px;
            background: #FFF;
            width: 100%;
            height: 100%;

            /** Show ellipsis in selected value of dropdown */
            /** span:first-child {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 70%;
                vertical-align: top;
                white-space: nowrap;
            } */
        }

        &.RCB-disabled {
            .RCB-inline-modal-btn {
                @extend .disabled-form-el;
            }
        }
    }

    &-select-arrow {
        margin-right: 0;

        &:after {
            @extend .down-arrow-dark;
        }
    }

    &-inline-modal-body {
        width: 100%;
        max-height: 300px;
        overflow: scroll;
    }
}